@font-face {
  font-family: "icons";
  src: url(../font/icons.ttf);
}

body {
  background-color: #1d232a;
  font-family: "Open Sans", "icons", sans-serif;
  color: #ffffff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #15191C;
  padding: 8px 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}

.header__menu i::before {
  content: "\e904";
  font-size: 24px;
}

.header__notification i::before {
  content: "\e906";
  font-size: 24px;
}

.header__logo {
  width: 40px;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  background-color: #15191C;
  width: 75vw;
  height: 100vh;
  position: absolute;
  left: -100vw;
  transition: left .5s ease-in;
}

.sidebar-menu--active {
  left: 0;
  transition: left .5s ease-out;
}

.sidebar-menu__logo {
  width: 118px;
  padding: 16px;
  align-self: center;
}

.sidebar-menu__link {
  height: 64px;
  color: #95999C;
  padding-left: 64px;
  display: flex;
  align-items: center;
}

.sidebar-menu__link::before {
  content: "";
  width: 24px;
  height: 24px;
  font-size: 24px;
  position: absolute;
  left: 24px;
}

.sidebar-menu__link--active {
  color: #FFFFFF;
  padding-left: 56px;
  border-left: 8px solid #FFFFFF;
}

.sidebar-menu__link--init::before {
  content: "\e902";
}

.sidebar-menu__link--videos::before {
  content: "\e90e";
}

.sidebar-menu__link--peaks::before {
  content: "\e909";
}

.sidebar-menu__link--members::before {
  content: "\e903";
}

.sidebar-menu__link--shirts::before {
  content: "\e900";
}

.sidebar-menu__link--paintings::before {
  content: "\e90a";
}